.contact {
    margin: 140px 0 87px;
}

.contact__title {
    font-weight: 700;
    font-size: 40px;
    color: $white;
}

.contact__text {
    margin-top: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: $grey;
}

.contact__form {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    position: relative;
}

.contact__detail {
    border: none;
    border-bottom: 1px solid $white;
    background-color: transparent;
    outline: none;
    margin-bottom: 32px;
    padding: 17px 24px;
    font-weight: 500;
    font-size: 16px;
    color: $white;
}

.contact__detail::placeholder,
textarea::placeholder {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    font-family: "Space Grotesk";
}

.name:focus,
.email:focus,
.message:focus {
    border-bottom: 1px solid $green;
    background-color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 40px $darkGrey inset;
    -webkit-text-fill-color: $white;
    font-weight: 500;
    font-size: 16px;
}

//contact__detail email--error
.email--error {
    border-bottom: 1px solid $red;
    margin-bottom: 0;
    background-color: transparent;
}

.email__validation--exclamation {
    border: 1px solid $red;
    border-radius: 50px;
    width: 24px;
    height: 24px;
    color: $red;
    position: absolute;
    top: 100px;
    right: 0;

}

.email__validation--error {
    font-weight: 500;
    font-size: 12px;
    color: $red;
    margin-left: auto;
    margin-top: 5px;
    margin-bottom: 11px;
}

.contact__submit {
    font-family: "Space Grotesk";
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.29px;
    color: $white;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    width: fit-content;
    border-bottom: 2px solid $green;
    padding-bottom: 10px;
    margin-left: auto;
}

@media(min-width:768px) {
    .contact {
        margin: 100px 130px 92px;
    }

    .contact__title {
        margin-top: 60px;
        font-size: 72px;
    }

    .contact__text {
        font-size: 18px;
        line-height: 28px;
    }

    .contact__form {
        margin-top: 48px;
    }
}

@media(min-width:1400px) {
    .contact {
        margin: 223px 0 92px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .contact__header {
        text-align: left;
        max-width: 445px;
    }

    .contact__title {
        margin-top: 0;
        font-size: 88px;
    }

    .contact__form {
        margin-top: 0;
        min-width: 445px;
    }
}