.hero {
    margin: 331px 0 80px;
}

.hero__intro {
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    color: $white;
}

.hero__intro--name {
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-color: $green;
}

.hero__text {
    margin-top: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: $grey;
}

.hero__contact,
.contact-me {
    margin-top: 24px;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.29px;
    text-transform: uppercase;
    background: none;
    outline: none;
    border: none;
    border-bottom: 2px solid $green;
    color: $white;
    padding-bottom: 10px;
}

.contact-me:hover {
    cursor: pointer;
    color: $green;
}

@media(min-width:768px) {
    .hero {
        margin: 90px 0 60px;
        max-width: 445px;
        text-align: left;
    }

    .hero__intro {
        font-size: 72px;
        line-height: 72px;
        letter-spacing: -2.05px;
    }

    .hero__intro--name {
        text-underline-offset: 14.5px;
    }

    .hero__text {
        margin-top: 60px;
        font-size: 18px;
        line-height: 28px;
    }

    .hero__contact {
        margin-top: 34px;
    }
}

@media(min-width:1400px) {
    .hero {
        margin: 127px 0 219px;
        max-width: 706px;
    }

    .hero__intro {
        font-size: 88px;
        letter-spacing: -2.5px;
    }

    .hero__intro--name {
        text-underline-offset: 18px;
    }

    .hero__text {
        margin-top: 43px;
        width: 445px;
    }

    .hero__contact {
        margin-top: 66px;
    }
}