.hero {
    margin-top: 331px;
}

.hero__intro {
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    color: $white;
}

.hero__intro--name {
    border-bottom: 4px solid $green;
}

.hero__text {
    margin-top: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: $grey;
}

.hero__contact,
.contact-me {
    margin-top: 24px;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.29px;
    text-transform: uppercase;
    background: none;
    outline: none;
    border: none;
    border-bottom: 2px solid $green;
    color: $white;
    padding-bottom: 10px;
}

.contact-me:hover {
    cursor: pointer;
    color: $green;
}

@media(min-width:700px) {
    .hero {
        margin: 90px 0 0;
        text-align: left;
    }

    .hero__intro {
        font-size: 72px;
        line-height: 72px;
    }

    .hero__intro--name {
        border-bottom: 6px solid $green;
    }
}