.banner__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.banner__icon:hover,
.icon__link:hover {
    cursor: pointer;
    fill: $green;
}

@media(min-width:700px) {
    .banner {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .banner__icons {
        margin-top: 0;
        width: 200px;
    }
}