$photoMB: url('../assets/images/image-profile-mobile.webp');
$photoTB: url('../assets/images/image-profile-tablet.webp');
$photoDT: url('../assets/images/image-profile-desktop.webp');


.nav {
    background: $photoMB;
    height: 383px;
    background-size: 100%;
    padding: 20px 10px;
}