.banner {
    margin: 20px auto 0px;
    border: 1px solid $green;
    width: 174px;
}

.banner__logo {
    font-weight: 700;
    font-size: 24px;
    color: $white;
}

@media(min-width:700px) {
    .banner {
        width: 100%;
        margin-top: 29px;
        padding: 0 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .banner__logo {
        font-size: 32px;
    }
}