.skills {
    margin: 40px 0;
}

.skill {
    margin-bottom: 24px;
}

.skill__title {
    font-weight: 700;
    font-size: 32px;
    color: $white;
    letter-spacing: -1px;
}

.skill__experience {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: $grey;
}

@media(min-width:768px) {
    .skills {
        margin: 52px 0 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .skill {
        width: 345px;
        text-align: left;
        margin-bottom: 52px;
    }

    .skill__title {
        font-size: 48px;
        line-height: 56px;
        letter-spacing: -1.5px;
        margin-bottom: 14px;
    }

    .skill__experience {
        font-size: 18px;
        line-height: 28px;
    }
}

@media(min-width:1400px) {
    .skills {
        margin: 58px 0 0;
    }

    .skill {
        margin-bottom: 58px;
    }
}