$black: #151515;
$darkGrey: #242424;
$grey: #D9D9D9;
$white: #FFFFFF;
$green: #4EE1A0;
$patternCircle: url("../assets/images/pattern-circle.svg");
$patternRings: url("../assets/images/pattern-rings.svg");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom,
            $black 0%,
            $black 81.5%,
            $darkGrey 81.5%,
            $darkGrey 100%);
    border: 1px solid rgb(65, 225, 134);
}

.App {
    border: 1px solid red;
    margin: 0 auto;
    padding: 0 16px;
    max-width: 375px;
    text-align: center;
    font-family: "Space Grotesk";
    background: no-repeat top 124px right 187px $patternRings,
        no-repeat top 254px left 311px $patternCircle;
}

.line {
    border: 1px solid $white;
}

@font-face {
    font-family: "Space Grotesk";
    src: url(../assets/fonts/SpaceGrotesk-VariableFont_wght.ttf);
}


@import "./nav";
@import "./header";
@import "./skills";
@import "./projects";
@import "./contact";
@import "./footer";