$black: #151515;
$darkGrey: #242424;
$grey: #D9D9D9;
$white: #FFFFFF;
$green: #4EE1A0;
$red: #FF6F5B;
$patternCircle: url("../assets/images/pattern-circle.svg");
$patternRings: url("../assets/images/pattern-rings.svg");
$photoMB: url('../assets/images/image-profile-mobile.webp');
$photoTB: url('../assets/images/image-profile-tablet.webp');
$photoDT: url('../assets/images/image-profile-desktop.webp');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom,
            $black 0%,
            $black 81.5%,
            $darkGrey 81.5%,
            $darkGrey 100%);
    border: 1px solid rgb(65, 225, 134);
}

.App {
    border: 1px solid red;
    margin: 0 auto;
    padding: 0 16px;
    max-width: 375px;
    text-align: center;
    font-family: "Space Grotesk";
    background: no-repeat top 124px right 187px $patternRings,
        no-repeat top 254px left 311px $patternCircle,
        no-repeat top 1320px left 189px $patternRings,
        no-repeat bottom 220px right 189px $patternRings,
}

.header {
    background: no-repeat top center $photoMB;
    background-size: 174px 383px;
    margin-bottom: 80px;
}

.line {
    border: 1px solid $white;
}

@media(min-width:700px) {
    .App {
        min-width: 700px;
        border: 1px solid red;
        padding: 0 30px;
    }

    //TB, DT screen has full width
    .header {
        background: no-repeat top right $photoTB;
        background-size: 322px 600px;
        margin: 0 -30px 60px 0;
    }
}

@media(min-width:1000px) {
    .App {
        min-width: 1000px;
        border: 1px solid red;
        padding: 0 165px;
    }

    .header {
        background: no-repeat top right $photoDT;
        background-size: 445px 720px;
        margin: 0 -165px 104px -165px;
    }
}



@font-face {
    font-family: "Space Grotesk";
    src: url(../assets/fonts/SpaceGrotesk-VariableFont_wght.ttf);
}


@import "./nav";
@import "./icons";
@import "./hero";
@import "./skills";
@import "./projects";
@import "./contact";
@import "./footer";